<p id="notice"><%= notice %></p>

<h1> "“Not all those who <b>wander</b> are lost.” – J.R.R. Tolkien" </h1>

<%= link_to 'All', ideas_path, :class => "btn"  %>
<%= link_to 'Cycle', ideas_path(search: 'cycle'), :class => "btn" %>
<%= link_to 'Snow', ideas_path(search: 'snow'), :class => "btn" %>
<%= link_to 'Dive', ideas_search_path(search: 'dive'), :class => "btn" %>
<%= link_to 'New Idea', new_idea_path, :class => "btn" %>

<table>
  <thead>
    <tr>
      <th>Activity</th>
      <th>Duration</th>
      <th>Trip</th>
      <th>Country</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <body>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.activity %></td>
        <td><%= idea.duration %></td>
        <td><%= idea.trip %></td>
        <td><%= idea.country %></td>
        <td><%= idea.cost %></td>
        <td><%= link_to 'Show', idea, :class => "btn" %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea), :class => "btn" %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %></td>
      </tr>
    <% end %>
  </body>
</table>


<br>

<%= link_to 'New Idea', new_idea_path, :class => "btn" %>
