<!DOCTYPE html>
<html>
<head>
  <title>Wonder Where to Wander</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
  <ul>
    <p><%= current_user.email %></p>
    <p><%= link_to 'Log out', logout_path, method: "delete", :class => "btn2" %></p>
    <% else %>
    <ul>
      <p><%= link_to "Login", 'login', :class => "btn2" %></a></p>
  <p><%= link_to 'Signup', 'signup', :class => "btn2" %></a><//p>
</ul>
<% end %>







<%= yield %>

</body>
</html>
